---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>About Us</h1>
    <div>
      <h2>Our Mission</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in
        consectetur quam, sit amet laoreet neque. Duis maximus ultrices purus,
        sit amet euismod dui porttitor id. Proin ut velit efficitur, hendrerit
        orci quis, rhoncus libero. Ut finibus ipsum sed sapien accumsan, vitae
        venenatis eros imperdiet. Donec volutpat purus at arcu lobortis, quis
        maximus mi pharetra. Curabitur sed efficitur eros. In egestas, urna
        vitae condimentum elementum, mauris tellus bibendum justo, ac iaculis
        ante neque vitae orci. Sed nec massa nunc. Pellentesque id metus id urna
        pharetra ultrices. Quisque at iaculis lorem, vitae congue sapien.
        Praesent feugiat id diam eget sagittis. Vestibulum dui mauris, laoreet
        eget erat vitae, mollis scelerisque magna.
      </p>
    </div>
    <div>
      <h2>Our Story</h2>
      <p>
        Morbi ultrices vestibulum odio, sed consequat nisl iaculis ac. Integer
        leo turpis, faucibus at tempus ultrices, rutrum sed diam. Sed nulla
        sapien, fringilla eget dignissim in, tincidunt ut ex. Nunc libero risus,
        mollis nec tempor quis, tincidunt sit amet nisl. Proin vehicula augue
        vitae ornare finibus. Aenean at finibus ante. Etiam ultricies mauris vel
        sagittis molestie. Suspendisse ornare lorem nec tellus laoreet, in
        eleifend justo elementum. Vivamus eu blandit ligula. Proin vestibulum
        metus a justo viverra imperdiet. Suspendisse metus lectus, consectetur
        dapibus enim ut, euismod iaculis eros. Quisque et lectus egestas,
        faucibus odio a, suscipit est. Suspendisse placerat risus vitae mi
        accumsan eleifend. Donec faucibus accumsan faucibus. Integer faucibus
        eget nisl ut sagittis. Sed vel risus vitae nisi ultrices mattis.
      </p>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
